<body>
    <div class="container">
        <div id="container">
            <div class="underline"></div>
            <form id="" class="form-container">
                <legend>
                    <h1>Formulario para Cargar Archivos Excel</h1>
                </legend>

                <div class="submit-container">
                    <div class="submit">
                        <label for="" class="form-label"> Cargue su proyecto</label>
                        <input type="submit" value="Cargar Proyecto" id="form_button" 
                            class="btn btn-success" />

                          </div>
                </div>
            </form>
        </div><!-- // End #container -->
    </div>
  </body>
  