<body>
  <div class="container">
      <div id="container">
          <div class="underline"></div>
          <form id="cargarProyecto" #form1="ngForm" (ngSubmit)="(form1)" class="form-container">
              <legend>
                  <h1>Formulario para Cargar un Proyecto</h1>
              </legend>

          

              <div class="form-container">
                <label class="form-group" for="Nombre">Nombre del Proyecto:</label>
                <select name="Nombre" id="Nombre" (change)="seleccionarNombre($event)" class="form-control form-control-lg" required>
                  <option disabled hidden selected>Seleccione un Proyecto:</option>
                  <option *ngFor="let proyecto of proyectos" [value]="proyecto.ppro_NOMBRE_PROY">{{proyecto.ppro_NOMBRE_PROY}}
                  </option>
                </select>
              </div>

              <div class="submit-container">
                  <div class="submit">
                      <input type="submit" value="Cargar Proyecto" id="form_button" [disabled]="!form1.valid"
                          class="btn btn-success" (click)="buscarDatosCodigoRapido()" />
                  </div>
              </div>
          </form>
      </div><!-- // End #container -->
  </div>
</body>
