<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de datos del sistema</title>
</head>

<body class="mat-typography">

    <br>
    <br>
    <br>
    <br>
    <div>
        <div>
            <p class="text-uppercase text-center h1" style="color: #192A67;">
                <strong>DATOS PRINCIPALES DEL PROYECTO</strong>
            </p>
        </div>
        <div class="container my-5">
            <div class="section">
                <div class="input-container">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" placeholder="Buscar"
                            [(ngModel)]="palabraBusquedaGeneracion" #inputPalabraBusqueda
                            (input)="buscarPalabraGeneracion(palabraBusquedaGeneracion)">
                    </div>
                    <div class="contador-resultados">
                        <div class="contador-cuadro">{{ contadorResultadosGeneracion }}</div>
                        <div class="contador-texto">resultados</div>
                    </div>

                    <div id="ingresar">
                        <div class="col-md-50 d-flex">
                            <button routerLink="/crearActualizarResponsableTecnico"
                                class="btn btn-outline-info my-btn mx-2" type="submit">Ingresar los Datos del
                                Responsable Técnico </button>


                        </div>

                    </div>
                </div>

                <!-- <div class="form-container">
                    <form #formularioproyecto="ngForm" class="row g-3 needs-validation" novalidate>
                        <div class="col-md-10 d-flex">
                            <button (click)="listarTodosGeneracion()" class="btn btn-outline-info my-btn mx-2"
                                type="submit">Listar Todos los Datos Existentes</button>

                            <button (click)="listarGeneracionActual()" class="btn btn-outline-info my-btn mx-2"
                                type="submit">Listar los Proyectos del Año Actual</button>
                        </div>
                    </form>
                </div>-->




                <div class="table-responsive">

                    <!-- Add these buttons in your template -->
                    <div id="descargar">
                        <button class="btn btn-primary" (click)="downloadPDF()"><i
                                class="bi bi-arrow-down-circle-fill"></i><span
                                style="margin-left: 5px;"></span>Descargar PDF</button>
                        <button class="btn btn-success" (click)="downloadExel()"><i
                                class="bi bi-arrow-down-circle-fill"></i><span style="margin-left: 5px;"></span>Exportar
                            a XLSX</button>
                    </div>

                    <table #tablaPrincipal class="table table-striped table-hover" id="tablaPrincipal">
                        <thead>
                            <tr>
                                <th>Acciones</th>
                                <th>Código Referencial</th>
                                <th>Nombre</th>
                                <th>Código Rápido</th>
                                <th>Año de Aprobacion</th>
                                <th>Proceso Corporativo (S/N)</th>
                                <th>Arrastre (S/N)</th>
                                <th>Calificado en estudios de Costos (S/N)</th>
                                <th>CÓdigo Estudio de Costos</th>
                                <th>Año de Calificacion de Ejecucion</th>
                                <th>CÓdigo EDD</th>
                                <th>Objetivo</th>
                                <th>Observaciones</th>
                                <th>Etapa Funcional </th>
                                <th>Tipo de Plan </th>
                                <th>Tipo de Periocidad </th>
                                <th>Tipo de Subprograma </th>
                                <th>Tipo de Programa </th>
                                <th>Departamento </th>
                                <th>Resposable Técnico </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proyecto of resultadosBusquedaGeneracion of listadoGeneracion ">
                                <td class="d-flex">
                                    <button class="btn btn-sm btn-outline-primary me-2"
                                        (click)="openEditarModalproyecto(proyecto)" data-bs-toggle="modal"
                                        data-bs-target="#Editar">
                                        <i class="bi bi-pencil-fill"></i> Editar
                                    </button>
                                </td>
                                <td>{{ proyecto.id_PPRO_CODIGO_UNICO }}</td>
                                <td>{{ proyecto.ppro_NOMBRE_PROY }}</td>
                                <td>{{ proyecto.ppro_CODIGO_RAPIDO }}</td>
                                <td>{{ proyecto.ppro_ANIO_APROBACION }}</td>
                                <td>{{ proyecto.ppro_PROCESO_CORPORATIVO_UN }}</td>
                                <td>{{ proyecto.ppro_PROYECTO_ARRASTRE }}</td>
                                <td>{{ proyecto.ppro_PROY_CALI_ESTUDIO_COSTOS }}</td>
                                <td>{{ proyecto.ppro_CODIGO_ESTU_COSTOS }}</td>
                                <td>{{ proyecto.ppro_ANIO_CALIFICACION_EJECU }}</td>
                                <td>{{ proyecto.ppro_CODIGO_PRO_EED }}</td>
                                <td>{{ proyecto.ppro_OBJETIVO_PRO }}</td>
                                <td>{{ proyecto.ppro_OBSERVACIONES_JUSTIFICACI }}</td>
                                <td>{{ proyecto.petafun_ETAPA_FUNCIONAL }}</td>
                                <td>{{ proyecto.ptipla_TIPO_PLAN }}</td>
                                <td>{{ proyecto.ptiper_TIPO_PERIODICIDAD }}</td>
                                <td>{{ proyecto.ptisubp_TIPO_SUBPROGRAMA }}</td>
                                <td>{{ proyecto.ptipro_TIPO_PROGRAMA }}</td>
                                <td>{{ proyecto.pdep_DEPARTAMENTO }}</td>
                                <td>{{ proyecto.responsableTecnico }}</td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl"> <!-- Cambiado a modal-xl para hacerlo más ancho -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Datos Principales del Proyecto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <!-- Formulario de edición -->
                        <form #form1="ngForm" (ngSubmit)="Actualizarproyecto()">

                            <!-- Sección 1: Selecciones -->
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label for="departamento">Departamento:</label>
                                            <select class="form-control" name="departamento" id="departamento" [(ngModel)]="id_PDEP"
                                                (change)="seleccionarDepartamento($event)" required>
                                                <option disabled hidden selected>Seleccione un Departamento:</option>
                                                <option *ngFor="let proyecto of departamentos"
                                                    [value]="proyecto.id_PDEP">{{proyecto.pdep_DEPARTAMENTO}}
                                                </option>
                                            </select>

                                        </div>

                                    </div>



                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="tipoPlan">Tipo de Plan</label>
                                                <select class="form-control" name="tipoPlan" id="tipoPlan" [(ngModel)]="id_PTIPLA"
                                                    (change)="seleccionarTipoPlan($event)" required>
                                                    <option disabled hidden selected>Seleccione un Tipo de Plan:
                                                    </option>
                                                    <option *ngFor="let proyecto of tipoPlan"
                                                        [value]="proyecto.id_PTIPLA">
                                                        {{proyecto.ptipla_TIPO_PLAN}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="tipoPeriodicidad">Tipo de Periodicidad</label>
                                                <select class="form-control" name="tipoPeriodicidad" id="tipoPeriodicidad"
                                                    [(ngModel)]="id_PTIPER"
                                                    (change)="seleccionarTipoPeriodicidad($event)" required>
                                                    <option disabled hidden selected>Seleccione un Tipo de Periodicidad:
                                                    </option>
                                                    <option *ngFor="let proyecto of tipoPeriodicidad"
                                                        [value]="proyecto.id_PTIPER">
                                                        {{proyecto.ptiper_TIPO_PERIODICIDAD}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="etapaFuncional">Etapa Funcional</label>
                                            <select class="form-control" name="etapaFuncional" id="etapaFuncional" [(ngModel)]="id_PETAFUN"
                                                (change)="seleccionarEtapaFuncional($event)" required>
                                                <option disabled hidden selected>Seleccione la Etapa Funcional:
                                                </option>
                                                <option *ngFor="let proyecto of etapaFuncional"
                                                    [value]="proyecto.id_PETAFUN">
                                                    {{proyecto.petafun_ETAPA_FUNCIONAL}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="tipoPrograma">Tipo de Programa</label>
                                            <select class="form-control" name="tipoPrograma" id="tipoPrograma" [(ngModel)]="id_PTIPRO"
                                                (change)="seleccionarTipoPrograma($event)" required>
                                                <option disabled hidden selected>Seleccione un Tipo de Programa:</option>
                                                <option *ngFor="let proyecto of tipoPrograma"
                                                    [value]="proyecto.id_PTIPRO">
                                                    {{proyecto.ptipro_TIPO_PROGRAMA}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="tipoSubprograma">Tipo de Subprograma</label>
                                                <select class="form-control" name="tipoSubprograma" id="tipoSubprograma"
                                                    (change)="seleccionarTipoSubprograma($event)"
                                                    [disabled]="!tipoProgramaSeleccionado" required>
                                                    <option disabled hidden selected>Seleccione una Tipo de Subprograma:
                                                    </option>
                                                    <option *ngFor="let proyecto of tipoSubprograma"
                                                        [value]="proyecto.id_PTISUBP">
                                                        {{proyecto.ptisubp_TIPO_SUBPROGRAMA}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <!-- Sección 2: Campos de texto -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="codigoEstudiosCostos">Código de Estudios de Costos:</label>
                                                <input type="text" id="codigoEstudiosCostos"
                                                    placeholder="Código de Estudios de Costos"
                                                    name="codigoEstudiosCostos" [(ngModel)]="ppro_CODIGO_ESTU_COSTOS"
                                                    required>
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="nombreProyecto">Nombre del Proyecto:</label>
                                                <textarea type="text" id="nombreProyecto" placeholder="Nombre del Proyecto"
                                                    name="nombreProyecto" [(ngModel)]="ppro_NOMBRE_PROY" disabled>
                                                </textarea>
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Codigorapido">Codigo Rapido:</label>
                                                <input type="text" placeholder="Codigo rapido" name="Codigorapido"
                                                    id="ppro_CODIGO_RAPIDO" [(ngModel)]="ppro_CODIGO_RAPIDO" disabled>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="ppro_ANIO_APROBACION">Año de Aprobación:</label>
                                                <input type="text" class="form-control" placeholder="Año de aprobación"
                                                    name="ppro_ANIO_APROBACION" [(ngModel)]="ppro_ANIO_APROBACION"
                                                    pattern="[0-9]{4}" title="El año debe tener 4 dígitos numéricos"
                                                    (keypress)="onKeyPressAnioAprorbacion($event)" required
                                                    (keyup)="onYearChangeAnioAporbacion()">
                                                <div
                                                    *ngIf="form1.controls['ppro_ANIO_APROBACION'].hasError('required') && (form1.controls['ppro_ANIO_APROBACION'].dirty || form1.controls['ppro_ANIO_APROBACION'].touched)">
                                                    <div *ngIf="form1.controls['ppro_ANIO_APROBACION'].errors && form1.controls['ppro_ANIO_APROBACION'].errors['required']"
                                                        style="color: red;">El año de aprobación es requerido.</div>
                                                </div>
                                                <div
                                                    *ngIf="form1.controls['ppro_ANIO_APROBACION'].hasError('pattern') && (form1.controls['ppro_ANIO_APROBACION'].dirty || form1.controls['ppro_ANIO_APROBACION'].touched)">
                                                    <div *ngIf="form1.controls['ppro_ANIO_APROBACION'].errors && form1.controls['ppro_ANIO_APROBACION'].errors['pattern']"
                                                        style="color: red;">El año de aprobación debe tener 4 dígitos
                                                        numéricos.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="AÑO DE CALIFICACION DE EJECUCION">Año de Calificación de
                                                    Ejecución:</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Año de Calificación de Ejecución"
                                                    name="ppro_ANIO_CALIFICACION_EJECU"
                                                    [(ngModel)]="ppro_ANIO_CALIFICACION_EJECU" pattern="[0-9]{4}"
                                                    title="El año debe tener 4 dígitos numéricos"
                                                    (keypress)="onKeyPressAnioCalificacion($event)" required
                                                    (keyup)="onYearChangeAnioCalficacion()">
                                                <div
                                                    *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].hasError('required') && (form1.controls['ppro_ANIO_CALIFICACION_EJECU'].dirty || form1.controls['ppro_ANIO_CALIFICACION_EJECU'].touched)">
                                                    <div *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors && form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors['required']"
                                                        style="color: red;">El año de calificación de ejecución es
                                                        requerido.</div>
                                                </div>
                                                <div
                                                    *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].hasError('pattern') && (form1.controls['ppro_ANIO_CALIFICACION_EJECU'].dirty || form1.controls['ppro_ANIO_CALIFICACION_EJECU'].touched)">
                                                    <div *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors && form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors['pattern']"
                                                        style="color: red;">El año de calificación de ejecución debe
                                                        tener 4 dígitos numéricos.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="ppro_COD_PARROQUIA">CODIGO Parroquia:</label>
                                                <input type="text" placeholder="CODIGO parroquia"
                                                    id="ppro_COD_PARROQUIA" name="parroquia"
                                                    [(ngModel)]="ppro_COD_PARROQUIA" required>
                                            </div>
                                        </div>

                                        <!-- Sección 3: Selecciones adicionales -->

                                        <div class="col-md-4">
                                            <br>
                                            <div class="form-group">
                                                <label for="procesoCorporativoUn">Proceso Corporativo Un.
                                                    (S/N):
                                                </label>
                                                <select class="form-control" name="procesoCorporativoUn"
                                                    [(ngModel)]="ppro_PROCESO_CORPORATIVO_UN" required>
                                                    <option value="S">SI</option>
                                                    <option value="N">NO</option>
                                                </select>
                                            </div>
                                        </div>



                                        <div class="col-md-4">
                                            <br>
                                            <div class="form-group">
                                                <label for="ppro_PROYECTO_ARRASTRE">Proyecto de Arrastre
                                                    (S/N):</label>
                                                <select class="form-control" name="ppro_PROYECTO_ARRASTRE"
                                                    [(ngModel)]="ppro_PROYECTO_ARRASTRE" required>
                                                    <option value="S">SI</option>
                                                    <option value="N">NO</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <br>
                                            <div class="form-group">
                                                <label for="ppro_PROY_CALI_ESTUDIO_COSTOS">Proyecto Calificado en Estudios de Costos (S/N):</label>
                                                <select class="form-control" name="ppro_PROY_CALI_ESTUDIO_COSTOS"
                                                    [(ngModel)]="ppro_PROY_CALI_ESTUDIO_COSTOS" required>
                                                    <option value="S">SI</option>
                                                    <option value="N">NO</option>>
                                                </select>
                                            </div>

                                        </div>

                                        <!-- Sección 4: Área de texto adicional y campos de número -->

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="objetivoProyecto">Objetivo del Proyecto:</label>
                                                <textarea name="objetivoProyecto" placeholder="Objetivo del Proyecto"
                                                    name="objetivoProyecto" cols="30" rows="5"
                                                    [(ngModel)]="ppro_OBJETIVO_PRO" required></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="ppro_OBSERVACIONES_JUSTIFICACI">Observacion del
                                                    Proyecto:</label>
                                                <textarea name="message" placeholder="Observaciones del Proyecto"
                                                    cols="30" rows="5" [(ngModel)]="ppro_OBSERVACIONES_JUSTIFICACI"
                                                    required></textarea>
                                            </div>
                                        </div>

                                        <!-- Sección 5: campos de número -->

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="montoAprobado">Monto Aprobado en Estudios de
                                                    Costos:</label>
                                                <input matInput type="number" placeholder="$$$$"
                                                    class="form-control" name="montoAprobado"
                                                    [(ngModel)]="ppro_MONTO_APRO_ESTUDI_COSTOS" required>
                                            </div>
                                        </div>



                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="ppro_CODIGO_PRO_EED">Código EDD:</label>
                                                <input matInput type="number" placeholder="Código EDD"
                                                    class="form-control" name="CODIGO EDD"
                                                    [(ngModel)]="ppro_CODIGO_PRO_EED" required>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>








                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>