<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <br>
    <br>
    <br>
    <br>

    <div>
        <p class="text-uppercase text-center h1" style="color: #192A67;"> 
            <strong>DATOS DE LA PARTIDA PRESUPUESTARIA</strong>
        </p>
    </div>
    <!-- <div class="container">
        <p class="text-uppercase text-center h1" style="color: #192A67;">Datos de <strong> la Partida Prespuestaria
                </strong>
        </p>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="label-container">
                    <label class="custom-label" for="vistaSelect">Seleccionar el tipo de Programa:</label>
                    <select id="vistaSelect" class="form-select custom-select" [(ngModel)]="opcionSeleccionada">
                        <option value="GENERACION">GENERACION</option>
                        <option value="SUBTRASMISION">SUBTRASMISION</option>
                        <option value="DISTRIBUCION">DISTRIBUCION</option>
                        <option value="ALUMBRADO PUBLICO"> ALUMBRADO PUBLICO</option>
                        <option value="ACOMETIDAS Y MEDIDORES">ACOMETIDAS Y MEDIDORES</option>
                        <option value="INVERSIONES GENERALES">INVERSIONES GENERALES</option>

                    </select>
                </div>
            </div>
        </div>
    </div>-->

    <div>
        <div class="container my-5">
            <div class="section">
                <div class="input-container">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" placeholder="Buscar"
                            [(ngModel)]="palabraBusquedaGeneracion" #inputPalabraBusqueda
                            (input)="buscarPalabraGeneracion(palabraBusquedaGeneracion)">
                    </div>
                    <div class="contador-resultados">
                        <div class="contador-cuadro">{{contadorResultadosGeneracion }}</div>
                        <div class="contador-texto">resultados</div>
                    </div>

                    <div id="ingresar">
                        <div class="col-md-50 d-flex">
                            <button *ngIf="tienePermisoIngresarBoton" routerLink="/crearActualizarPartidaPresupuestaria" class="btn btn-outline-info my-btn mx-2" type="submit">Ingresar
                                 Datos de la Partida Presupuestaria </button>
                        </div>

                    </div>
                </div>

                 <!--  <div class="form-container">
                    <form #formulariopartidaPresupuestaria="ngForm" class="row g-3 needs-validation" novalidate>
                        <div class="col-md-10 d-flex">
                            <button (click)="listarTodosGeneracion()" class="btn btn-outline-info my-btn mx-2"
                                type="submit">Listar Todos los Datos Existentes</button>

                                <button class="btn btn-outline-info my-btn mx-2" type="submit">Listar los Proyectos Especial</button>

                          Modal para la edición <button (click)="listarGeneracionActual()" class="btn btn-outline-info my-btn mx-2" type="submit">Listar los partidaPresupuestarias del Año Actual</button>
                       
                        </div>
                    </form>
                </div> -->


         

                <div *ngIf="tienePermisoListar" class="table-responsive">
                           <!-- Add these buttons in your template -->
                           <div id="descargar">
                            <button class="btn btn-primary" (click)="downloadPDF()"><i
                                    class="bi bi-arrow-down-circle-fill"></i><span
                                    style="margin-left: 5px;"></span>Descargar PDF</button>
                            <button class="btn btn-success" (click)="downloadExel()"><i
                                    class="bi bi-arrow-down-circle-fill"></i><span style="margin-left: 5px;"></span>Exportar
                                a XLSX</button>
                        </div>
                    <table #partidaPresupuestaria class="table table-striped table-hover" id="partidaPresupuestaria">
                        
                        <thead>
                            <tr>
                          
                                <th>Codigo de Referencial</th>
                                <th>Fecha</th>
                                <th>Código Rapido Partida Presupuestaria</th>
                                <th>Partida Presupuestaria</th>
                                <th>Monto partida Presupuestaria</th>
                                <th>Tipo de Partida Prespuestaria</th>
                                <th>Acciones</th>
                            </tr>

                        </thead>
                        <tbody>
                            <!-- Iteración para la primera tabla -->
                            <tr *ngFor="let partidaPresupuestaria of resultadosBusquedaGeneracion of listadoGeneracion">
                              
                                <!-- ... Otras celdas de la primera tabla -->

                                <td>{{partidaPresupuestaria.id_PPRO_CODIGO_UNICO}}</td>
                                <td>{{partidaPresupuestaria.ppart_FECHA}}</td>
                                <td>{{partidaPresupuestaria.ppart_CODIGO_PARTIDA}}</td>
                                <td>{{partidaPresupuestaria.ppart_PARTIDA_PRESUPUESTARIA}}</td>
                                <td>{{partidaPresupuestaria.ppart_MONTO_PARTIDA}}</td>
                                <td>{{partidaPresupuestaria.ptipapre_TIPO_PAR_PRESUPUESTAR}}</td>
                                <td class="d-flex">
                                    <button class="btn btn-sm btn-outline-primary me-2" (click)="openEditarModalPartidaPresupuestaria(partidaPresupuestaria)"
                                      data-bs-toggle="modal" data-bs-target="#Editar">
                                      <i class="bi bi-pencil-fill"></i> Editar
                                    </button>
                                  </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
                <div *ngIf="!tienePermisoListar">
                  <p style="color: brown;">No tienes permisos para ver este contenido.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Partida Prespuestaria</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <!-- Formulario de edición -->
                <form #formEditar="ngForm" (ngSubmit)="actualizarPartidaPresupuestaria()">
                  <div class="mb-3">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="paste_FECHA_ASPEC_TECNICOS" class="form-label">Fecha de Ingreso:</label>
                          <input type="date" id="paste_FECHA_ASPEC_TECNICOS" class="form-control"
                            placeholder="Fecha" name="paste_FECHA_ASPEC_TECNICOS" [(ngModel)]="ppart_FECHA">
                            <br>
                        </div>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="ppart_CODIGO_PARTIDA" class="form-label">Código Rapido partida Presupuestaria:</label>
                          <input type="text" placeholder="Codigo partida Presupuestaria" class="form-control"
                            name="ppart_CODIGO_PARTIDA" [(ngModel)]="ppart_CODIGO_PARTIDA" required="">
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="ppart_PARTIDA_PRESUPUESTARIA" class="form-label">Partida Presupuestaria:</label>
                          <textarea type="text" placeholder="Partida Presupuestaria" class="form-control"
                            name="ppart_PARTIDA_PRESUPUESTARIA" [(ngModel)]="ppart_PARTIDA_PRESUPUESTARIA" required>
                          </textarea>
                        </div>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <br>
                          <label for="ppart_MONTO_PARTIDA" class="form-label">Monto partida Presupuestaria:</label>
                          <input type="number" placeholder="Monto partida Presupuestaria" class="form-control"
                            name="ppart_MONTO_PARTIDA" [(ngModel)]="ppart_MONTO_PARTIDA" required>
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="form-group">
                          <br>
                          <label for="Presupuestaria" class="form-label">Tipo de Partida Presupuestaria:</label>
                          <select name="Presupuestaria" id="Presupuestaria" class="form-select"
                            [(ngModel)]="id_PTIPAPRE" (change)="seleccionarPartidaPrespuestaria($event)" required>
                            <option disabled hidden selected>Seleccione un Tipo:</option>
                            <option *ngFor="let partidaPresupuestaria of tipoPartida"
                              [value]="partidaPresupuestaria.id_PTIPAPRE">
                              {{partidaPresupuestaria.ptipapre_TIPO_PAR_PRESUPUESTAR}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    <!-- Modal -->
    <div class="modal fade" id="partidaPresupuestariaEliminar" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Desea eliminar partidaPresupuestaria?</h1>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="EliminarpartidaPresupuestaria()" class="btn btn-danger">Elimnar</button>
                </div>-->
            </div>
        </div>
    </div>


</body>

</html>