<body>

    <div class="container">
        <div id="container">
            <div class="underline"></div>


            <form id="partidPresupuestaria_form" #form8="ngForm" (ngSubmit)="onSubmitPartidaPresupuestaria(form8)"
                class="form-container">

                <legend>
                    <h1>Formulario de Partida Presupuestaria del Proyecto</h1>
                </legend>

                <div class="form-group">
                    <label for="paste_FECHA_ASPEC_TECNICOS">Fecha de Ingreso:</label>
                    <input type="date" id="paste_FECHA_ASPEC_TECNICOS" placeholder="Fecha" name="paste_FECHA_ASPEC_TECNICOS"
                      [(ngModel)]="ppart_FECHA" disabled>
                  </div>

          


                <div class="form-group">
                    <label for="ppart_CODIGO_PARTIDA">Codigo partida Presupuestaria:</label>
                    <input type="text" placeholder="Codigo partida Presupuestaria" class="form-control"
                        name="ppart_CODIGO_PARTIDA" [(ngModel)]="ppart_CODIGO_PARTIDA" required>
                </div>


                <div class="form-group">
                    <label for="ppart_PARTIDA_PRESUPUESTARIA">Partida Presupuestaria:</label>
                    <input type="text" placeholder="Partida Presupuestaria" class="form-control"
                        name="ppart_PARTIDA_PRESUPUESTARIA" [(ngModel)]="ppart_PARTIDA_PRESUPUESTARIA" required>
                </div>


                <div class="form-group">
                    <label for="ppart_MONTO_PARTIDA">Monto partida Presupuestaria:</label>
                    <input type="number" placeholder="Monto partida Presupuestaria" class="form-control"
                        name="ppart_MONTO_PARTIDA" [(ngModel)]="ppart_MONTO_PARTIDA" required>
                </div>


                <div class="form-group">
                    <label for="Presupuestaria">Tipo de Partida Presupuestaria:</label>
                    <select name="Presupuestaria" id="Presupuestaria" (change)="seleccionarPartidaPrespuestaria($event)"
                        required>
                        <option disabled hidden selected>Seleccione un Tipo:</option>
                        <option *ngFor="let partidaPresupuestaria of tipoPartida"
                            [value]="partidaPresupuestaria.id_PTIPAPRE">
                            {{partidaPresupuestaria.ptipapre_TIPO_PAR_PRESUPUESTAR}}
                        </option>
                    </select>
                </div>


    

                <div class="submit-container">
                    <div class="submit">
                        <input type="submit" value="Grabar Registro" id="form_button" [disabled]="!form8.valid"
                            class="btn btn-primary" />
                    </div>


                </div>


            </form>


            <form id="EjecucionProyecto_form" #form11="ngForm" (ngSubmit)="onSubmitDetallePartidaPresupuestaria(form11)"
                class="form-container">

                <legend>
                    <h1>Formulario de Asignamiento de Partida Presupuestaria del Proyecto</h1>
                </legend>


           


                <div class="form-group">
                    <Label for="Presupuestaria">Partida Presupuestaria</Label>
                    <select id="Presupuestaria" name="Presupuestaria"
                        (change)="seleccionarPartidaPresupuestaria($event)" required>
                        <option value="" disabled hidden selected>Seleccione una Partida Presupuestaria</option>
                        <option *ngFor="let partidaPresupuestaria of partidas" [value]="partidaPresupuestaria.id_PPART">
                         {{ partidaPresupuestaria.ppart_PARTIDA_PRESUPUESTARIA }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="nombreProyecto">Nombre del Proyecto:</label>
        
                    <!-- Cambia el atributo disabled por readonly -->
                    <input type="text" id="nombreProyecto" placeholder="No editable" name="nombreProyecto"
                      [(ngModel)]="nombre_proyecto_CODIGO" readonly>
        
                  </div>


                <!--  <div class="form-group">
              <Label for="rapido2">Codigo Rapido</Label>
              <select id="rapido2" name="rapido2" (change)="seleccionarCodigoPartidaPresupuestaria($event)" required>
                <option value="" disabled hidden selected>Seleccione un Codigo Rapido:</option>
                <option *ngFor="let proyecto of proyectos" [value]="proyecto.id_PPRO_CODIGO_UNICO">
                  {{ proyecto.ppro_CODIGO_RAPIDO }}
                </option>
              </select>
            </div>-->




                <div class="submit-container">
                    <div class="submit">
                        <input type="submit" value="Asignar" id="form_button" [disabled]="!form11.valid"
                            class="btn btn-primary" />
                    </div>
                </div>


            </form>
        </div>
    </div>

</body>