<body>

    <div class="container">
        <div id="container">
            <div class="underline"></div>

            <form id="partidaPresupuestaria_form" #form8="ngForm" (ngSubmit)="onSubmitPartidaPresupuestaria(form8)" class="form-container">
                <legend>
                    <h1>Formulario de Partida Presupuestaria del Proyecto</h1>
                </legend>
            
                <div class="form-group">
                    <label for="paste_FECHA_ASPEC_TECNICOS" class="form-label">Fecha de Ingreso:</label>
                    <div class="col-sm">
                        <input type="date" class="form-control" id="paste_FECHA_ASPEC_TECNICOS" placeholder="Fecha" name="paste_FECHA_ASPEC_TECNICOS" [(ngModel)]="ppart_FECHA" disabled>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="Presupuestaria" class="form-label">Tipo de Partida Presupuestaria:</label>
                    <div class="col-sm">
                        <select name="Presupuestaria" class="form-control" id="Presupuestaria" (change)="seleccionarPartidaPrespuestaria($event)" required>
                            <option disabled hidden selected>Seleccione un Tipo de Partida Presupuestaria:</option>
                            <option *ngFor="let partidaPresupuestaria of tipoPartida" [value]="partidaPresupuestaria.id_PTIPAPRE">
                                {{partidaPresupuestaria.ptipapre_TIPO_PAR_PRESUPUESTAR}}
                            </option>
                        </select>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="ppart_CODIGO_PARTIDA" class="form-label">Código Rápido Partida Presupuestaria:</label>
                    <div class="col-sm">
                        <input type="text" placeholder="Codigo partida Presupuestaria" class="form-control" name="ppart_CODIGO_PARTIDA" [(ngModel)]="ppart_CODIGO_PARTIDA"  required>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="ppart_PARTIDA_PRESUPUESTARIA" class="form-label">Nombre de Partida Presupuestaria:</label>
                    <div class="col-sm">
                        <textarea type="text" placeholder="Partida Presupuestaria" class="form-control" name="ppart_PARTIDA_PRESUPUESTARIA" [(ngModel)]="ppart_PARTIDA_PRESUPUESTARIA" required>
                        </textarea>
                        </div>
                </div>
            
                <div class="form-group">
                    <label for="ppart_MONTO_PARTIDA" class="form-label">Monto partida Presupuestaria:</label>
                    <div class="col-sm">
                        <input type="number" placeholder="Monto partida Presupuestaria" class="form-control" name="ppart_MONTO_PARTIDA" [(ngModel)]="ppart_MONTO_PARTIDA" required>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="col-sm offset-sm-4">
                     
                        <input *ngIf="tienePermisoCrear" type="submit" value="Grabar Registro" id="form_button" [disabled]="!form8.valid" class="btn btn-primary" />
                    </div>
                    <div *ngIf="!tienePermisoCrear">
                        <p style="color: brown;">No tienes permisos para crear una Partida Presupuestaria</p>
                      </div>
                </div>
            </form>
            

            <form id="EjecucionProyecto_form" #form11="ngForm" (ngSubmit)="onSubmitDetallePartidaPresupuestaria(form11)"
                class="form-container">

                <legend>
                    <h1>Formulario de Asignamiento de Partida Presupuestaria del Proyecto</h1>
                </legend>





                <div class="form-group">
                    <Label for="Presupuestaria">Partida Presupuestaria</Label>
                    <select id="Presupuestaria" name="Presupuestaria"
                        (change)="seleccionarPartidaPresupuestaria($event)" required>
                        <option value="" disabled hidden selected>Seleccione una Partida Presupuestaria</option>
                        <option *ngFor="let partidaPresupuestaria of partidas" [value]="partidaPresupuestaria.id_PPART">
                          {{ partidaPresupuestaria.ppart_CODIGO_PARTIDA }} Partida {{ partidaPresupuestaria.ppart_PARTIDA_PRESUPUESTARIA }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="nombreProyecto">Nombre del Proyecto:</label>

                    <!-- Cambia el atributo disabled por readonly -->
                    <textarea type="text" id="nombreProyecto" placeholder="No editable" name="nombreProyecto"
                        [(ngModel)]="nombre_proyecto_CODIGO" readonly>
                    </textarea>

                </div>


     



                <div class="form-group">
                    <div class="col-sm offset-sm-4">
                          <label for="form-label"></label>
                        <input  *ngIf="tienePermisoAsignar" type="submit" value="Asignar" id="form_button" [disabled]="!form11.valid"
                            class="btn btn-primary" />
                         
                    </div>

                    <div *ngIf="!tienePermisoAsignar">
                        <p style="color: brown;">No tienes permisos para asignar una Partida Presupuestaria</p>
                      </div>
                  
                </div>




            </form>
        </div>
    </div>

</body>