<body>
  <div class="container">
    <div id="container">
      <div class="underline"></div>
      <form id="AspectosTecnicos_form" #form1="ngForm" (ngSubmit)="(form1)" class="form-container">
        <legend>
          <h1>Formulario para Eliminar un Proyecto</h1>
        </legend>

        <div class="form-group">
          <label for="nombreProyecto">Nombre del Proyecto:</label>
          <textarea  id="nombreProyecto" class="form-group" placeholder="No editable" name="nombreProyecto" [(ngModel)]="nombre_proyecto" disabled>
          </textarea>
        </div>

        <div class="submit-container">
          <div class="submit">
            <input type="submit" value="Eliminar Proyecto" id="form_button" class="btn btn-danger" (click)="openEditarModalEliminacion()" data-bs-toggle="modal" data-bs-target="#Eliminar" />
          </div>
        </div>
      </form>
    </div><!-- // End #container -->
  </div>
</body>


<!-- Modal -->
<div class="modal fade" id="Eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese la clave para confirmar la eliminación</h1>
      </div>
      <div class="modal-body">
        <input type="password" [(ngModel)]="claveConfirmacion" class="form-control" placeholder="Clave de confirmación">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click)="confirmarEliminacion()" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
