<ng-container>
  <div class="login-container">
    <div class="login-form">
      <div class="logo-container">
        <img src="../../../assets/img/logotipo.png" alt="Logo EEASA" class="logo">
      </div>
      <form id="form" (ngSubmit)="login(formData)">
        <div class="form-group">
          <label for="username">
            <i class="bi bi-person"></i> <!-- Icono de usuario de Bootstrap -->
            Usuario
          </label>
          <input type="text" class="form-control" id="username" placeholder="Ingrese su usuario" name="username" [(ngModel)]="formData.username" required>
        </div>
        <div class="form-group">
          <label for="password">
            <i class="bi bi-lock"></i> <!-- Icono de candado de Bootstrap -->
            Contraseña
          </label>
          <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" name="password" [(ngModel)]="formData.password" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" id="myButton">
            <i class="bi bi-box-arrow-in-right"></i> <!-- Icono de flecha derecha de Bootstrap -->
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
  </div>

    <div class="imagen-fondo">
    </div>

</ng-container>
