<body>

        <div class="container">
          <div id="container">
            <div class="underline"></div>
            <form id="Ejecu_form" #form7="ngForm" (ngSubmit)="onSubmitProcesosSercop(form7)" class="form-container">
    
              <legend>
                <h1>Formulario de Procesos Sercop</h1>
              </legend>
    

              <div class="form-group">
                <label for="paste_FECHA_ASPEC_TECNICOS">Fecha de Ingreso:</label>
                <input type="date" id="paste_FECHA_ASPEC_TECNICOS" placeholder="Fecha" name="paste_FECHA_ASPEC_TECNICOS"
                  [(ngModel)]="pproser_FECHA" disabled>
              </div>

              
              <div class="form-group">
                <label for="pproser_CODIGO_SERCOP">Código procesos Sercop:</label>
                <textarea type="text" id="pproser_CODIGO_SERCOP" placeholder="Codigo procesos Sercop" name="pproser_CODIGO_SERCOP"
                  [(ngModel)]="pproser_CODIGO_SERCOP" required>
                </textarea>
              </div>


    
              <div class="form-group">
                <label for="pproser_PROCESOS_SERCOP">Nombre Procesos Sercop:</label>
                <textarea type="text" id="pproser_PROCESOS_SERCOP" placeholder="Procesos Sercop" name="pproser_PROCESOS_SERCOP"
                  [(ngModel)]="pproser_PROCESOS_SERCOP" required>
                </textarea>
              </div>
    
    
    
              <div class="submit-container">
                <div class="submit">
                  <input type="submit" value="Grabar Registro" id="form_button" [disabled]="!form7.valid"
                    class="btn btn-primary" />
                </div>


                <!-- <div class="submit">
                  <input type="button" value="Actualizar Registro" (click)="actualizarProcesosSercop(form7)"
                    class="btn btn-success" />
                </div>-->

              </div>
    
    
            </form>
    
    
          </div><!-- // End #container -->
        </div>

    
</body>
