<body>

  <!-- <div *ngIf="currentFormIndex === 1">
    <div class="container">
      <div id="container">
        <div class="underline"></div>


        <form id="partidPresupuestaria_form" #form8="ngForm" (ngSubmit)="onSubmitPartidaPresupuestaria(form8)"
        class="form-container">

        <legend>
          <h1>Formulario de Partida Presupuestaria del Proyecto</h1>
        </legend>



        <div class="form-group">
          <label for="Presupuestaria">Tipo de Partida Presupuestaria:</label>
          <select name="Presupuestaria" id="Presupuestaria" (change)="seleccionarPartidaPrespuestaria($event)"
            required>
            <option disabled hidden selected>Seleccione un Tipo:</option>
            <option *ngFor="let partidaPresupuestaria of tipoPartida" [value]="partidaPresupuestaria.id_PTIPAPRE">
              {{partidaPresupuestaria.ptipapre_TIPO_PAR_PRESUPUESTAR}}
            </option>
          </select>
        </div>


        <div class="form-group">
          <label for="ppart_PARTIDA_PRESUPUESTARIA">Partida Presupuestaria:</label>
          <input type="text" placeholder="Partida Presupuestaria" class="form-control"
            name="ppart_PARTIDA_PRESUPUESTARIA" [(ngModel)]="ppart_PARTIDA_PRESUPUESTARIA" required>
        </div>


        <div class="submit-container">
          <div class="submit">
            <input type="submit" value="Enviar formulario" id="form_button" [disabled]="!form8.valid"
              class="btn btn-primary" />
          </div>

  
          <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
            <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
              class="btn btn-primary btn-siguiente" />
          </div>


          <div class="submit">
            <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
              (click)="regresarFormulario()">Regresar</button>
          </div>
        </div>


      </form> 

      </div>
    </div>
  </div>-->

  <div *ngIf="currentFormIndex === 0">
    <div class="container">
      <div id="container">
        <div class="underline"></div>

        <!-- <form id="Responsable" #form9="ngForm" (ngSubmit)="onSubmitResponsableTecnico(form9)" class="form-container">

          <legend>
            <h1>Formulario De Responsable Tecnico</h1>
          </legend>

          <div class="form-group">
            <label for="Username">Username:</label>
            <input type="text" placeholder="Ingrese el Username" name="Username" id="username"
              [(ngModel)]="username_name" required>
            <button type="button" class="btn btn-outline-success" id="buscarDatosCodigoRapido"
              (click)="buscarDatosUser()">Buscar datos del User</button>
          </div>


          <div class="form-group">
            <label for="Apellidos">Nombres:</label>
            <input type="text" id="Apellidos" placeholder="No editable" name="Nombres" [(ngModel)]="prete_NOMBRES"
              disabled required>
          </div>

          <div class="form-group">
            <label for="Apellidos">Apellidos:</label>
            <input type="text" id="Apellidos" placeholder="No editable" name="Apellidos" [(ngModel)]="prete_APELLIDOS"
              disabled required>
          </div>

          <div class="form-group">
            <label for="prete_DERTAMENTO_PER">Departamento Perteneciente:</label>
            <input type="text" id="prete_DERTAMENTO_PER" placeholder="No editable" name="prete_DERTAMENTO_PER"
              [(ngModel)]="prete_DERTAMENTO_PER" disabled required>
          </div>

          <div class="form-group">
            <label for="prete_DMPER_NUMERO_ROL">Numero de Rol:</label>
            <input type="text" id="prete_DMPER_NUMERO_ROL" placeholder="No editable" name="prete_DMPER_NUMERO_ROL"
              [(ngModel)]="prete_DMPER_NUMERO_ROL" disabled required>
          </div>


          <div class="form-group">
            <label for="prete_DMPER_CODIGO">DMPER Codigo:</label>
            <input type="text" id="prete_DMPER_CODIGO" placeholder="No editable" name="prete_DMPER_CODIGO"
              [(ngModel)]="prete_DMPER_CODIGO" disabled required>
          </div>




          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Enviar formulario" id="form_button" [disabled]="!form9.valid"
                class="btn btn-primary" />
            </div>

       
            <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
              <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
                class="btn btn-primary btn-siguiente" />
            </div>


            <div class="submit">
              <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
                (click)="regresarFormulario()">Regresar</button>
            </div>
          </div>


        </form>-->

        <!-- Ejemplo en tu plantilla -->
        <form id="Proyecto_form" #form1="ngForm" (ngSubmit)="onSubmitProyecto(form1)" class="form-container">
          <legend>
            <h1>Formulario de Datos Principales del Proyecto</h1>
          </legend>

          <!-- Sección 1: Selecciones -->
          <div class="form-group">
            <label for="departamento">Departamento:</label>
            <select name="departamento" id="departamento" (change)="seleccionarDepartamento($event)" required>
              <option disabled hidden selected>Seleccione un Departamento:</option>
              <option *ngFor="let proyecto of departamentos" [value]="proyecto.id_PDEP">{{proyecto.pdep_DEPARTAMENTO}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="tipoPlan">Tipo de Plan:</label>
            <select name="tipoPlan" id="tipoPlan" (change)="seleccionarTipoPlan($event)" required>
              <option disabled hidden selected>Seleccione un Tipo de Plan:</option>
              <option *ngFor="let proyecto of tipoPlan" [value]="proyecto.id_PTIPLA">{{proyecto.ptipla_TIPO_PLAN}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="tipoPeriodicidad">Tipo de Periodicidad</label>
            <select name="tipoPeriodicidad" id="tipoPeriodicidad" (change)="seleccionarTipoPeriodicidad($event)"
              required>
              <option disabled hidden selected>Seleccione un Tipo de Periodicidad:</option>
              <option *ngFor="let proyecto of tipoPeriodicidad" [value]="proyecto.id_PTIPER">
                {{proyecto.ptiper_TIPO_PERIODICIDAD}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="etapaFuncional">Etapa Funcional</label>
            <select name="etapaFuncional" id="etapaFuncional" (change)="seleccionarEtapaFuncional($event)" required>
              <option disabled hidden selected>Seleccione la Etapa Funcional:</option>
              <option *ngFor="let proyecto of etapaFuncional" [value]="proyecto.id_PETAFUN">
                {{proyecto.petafun_ETAPA_FUNCIONAL}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="tipoPrograma">Tipo de Programa</label>
            <select name="tipoPrograma" id="tipoPrograma" (change)="seleccionarTipoPrograma($event)" required>
              <option disabled hidden selected>Seleccione un Programa:</option>
              <option *ngFor="let proyecto of tipoPrograma" [value]="proyecto.id_PTIPRO">
                {{proyecto.ptipro_TIPO_PROGRAMA}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="tipoSubprograma">Tipo de Subprograma</label>
            <select name="tipoSubprograma" id="tipoSubprograma" (change)="seleccionarTipoSubprograma($event)"
              [disabled]="!tipoProgramaSeleccionado" required>
              <option disabled hidden selected>Seleccione una Tipo de Subprograma:</option>
              <option *ngFor="let proyecto of tipoSubprograma" [value]="proyecto.id_PTISUBP">
                {{proyecto.ptisubp_TIPO_SUBPROGRAMA}}
              </option>
            </select>
          </div>



          <!-- Sección 2: Campos de texto -->
          <div class="form-group">
            <label for="codigoEstudiosCostos">Código de Estudios de Costos:</label>
            <input type="text" id="codigoEstudiosCostos" placeholder="Código de Estudios de Costos"
              name="codigoEstudiosCostos" [(ngModel)]="ppro_CODIGO_ESTU_COSTOS" required>
          </div>

          <div class="form-group">
            <label for="nombreProyecto">Nombre del Proyecto:</label>
            <input type="text" id="nombreProyecto" placeholder="Nombre del Proyecto" name="nombreProyecto"
              [(ngModel)]="ppro_NOMBRE_PROY" required>
          </div>


          <div class="form-group">
            <label for="Codigorapido">Codigo Rapido:</label>
            <input type="text" placeholder="Codigo rapido" name="Codigorapido" id="ppro_CODIGO_RAPIDO"
              [(ngModel)]="ppro_CODIGO_RAPIDO" required>
          </div>
          <div class="form-group">
            <label for="ppro_ANIO_APROBACION">Año de Aprobación:</label>
            <input type="text" class="form-control" placeholder="Año de aprobación" name="ppro_ANIO_APROBACION"
              [(ngModel)]="ppro_ANIO_APROBACION" pattern="[0-9]{4}" title="El año debe tener 4 dígitos numéricos"
              (keypress)="onKeyPressAnioAprorbacion($event)" required (keyup)="onYearChangeAnioAporbacion()">
            <div
              *ngIf="form1.controls['ppro_ANIO_APROBACION'].hasError('required') && (form1.controls['ppro_ANIO_APROBACION'].dirty || form1.controls['ppro_ANIO_APROBACION'].touched)">
              <div
                *ngIf="form1.controls['ppro_ANIO_APROBACION'].errors && form1.controls['ppro_ANIO_APROBACION'].errors['required']"
                style="color: red;">El año de aprobación es requerido.</div>
            </div>
            <div
              *ngIf="form1.controls['ppro_ANIO_APROBACION'].hasError('pattern') && (form1.controls['ppro_ANIO_APROBACION'].dirty || form1.controls['ppro_ANIO_APROBACION'].touched)">
              <div
                *ngIf="form1.controls['ppro_ANIO_APROBACION'].errors && form1.controls['ppro_ANIO_APROBACION'].errors['pattern']"
                style="color: red;">El año de aprobación debe tener 4 dígitos numéricos.</div>
            </div>
          </div>


          <div class="form-group">
            <label for="AÑO DE CALIFICACION DE EJECUCION">Año de Calificación de Ejecución:</label>
            <input type="text" class="form-control" placeholder="AÑO DE CALIFICACION DE EJECUCION"
              name="ppro_ANIO_CALIFICACION_EJECU" [(ngModel)]="ppro_ANIO_CALIFICACION_EJECU" pattern="[0-9]{4}"
              title="El año debe tener 4 dígitos numéricos" (keypress)="onKeyPressAnioCalificacion($event)" required
              (keyup)="onYearChangeAnioCalficacion()">
            <div
              *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].hasError('required') && (form1.controls['ppro_ANIO_CALIFICACION_EJECU'].dirty || form1.controls['ppro_ANIO_CALIFICACION_EJECU'].touched)">
              <div
                *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors && form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors['required']"
                style="color: red;">El año de calificación de ejecución es requerido.</div>
            </div>
            <div
              *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].hasError('pattern') && (form1.controls['ppro_ANIO_CALIFICACION_EJECU'].dirty || form1.controls['ppro_ANIO_CALIFICACION_EJECU'].touched)">
              <div
                *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors && form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors['pattern']"
                style="color: red;">El año de calificación de ejecución debe tener 4 dígitos numéricos.</div>
            </div>
          </div>


          <div class="form-group">
            <label for="ppro_COD_PARROQUIA">Codigo Parroquia:</label>
            <input type="text" placeholder="CODIGO parroquia" id="ppro_COD_PARROQUIA" name="parroquia"
              [(ngModel)]="ppro_COD_PARROQUIA" required>
          </div>

          <!-- Sección 3: Selecciones adicionales -->
          <div class="form-group">
            <label for="procesoCorporativoUn">PROCESO CORPORATIVO UN. (S/N): </label>
            <select class="form-control" name="procesoCorporativoUn" [(ngModel)]="ppro_PROCESO_CORPORATIVO_UN" required>
              <option value="S">SI</option>
              <option value="N">NO</option>
            </select>
          </div>
          <div class="form-group">
            <label for="ppro_PROYECTO_ARRASTRE">PROYECTO DE ARRASTRES (S/N):</label>
            <select class="form-control" name="ppro_PROYECTO_ARRASTRE" [(ngModel)]="ppro_PROYECTO_ARRASTRE" required>
              <option value="S">SI</option>
              <option value="N">NO</option>
            </select>
          </div>

          <div class="form-group">
            <label for="ppro_PROY_CALI_ESTUDIO_COSTOS">PROYECTO CALIFICADO EN ESTUDIOS DE COSTOS (S/N):</label>
            <select class="form-control" name="ppro_PROY_CALI_ESTUDIO_COSTOS"
              [(ngModel)]="ppro_PROY_CALI_ESTUDIO_COSTOS" required>
              <option value="S">SI</option>
              <option value="N">NO</option>>
            </select>
          </div>

          <!-- Sección 4: Área de texto adicional y campos de número -->
          <div class="form-group">
            <label for="objetivoProyecto">Objetivo del Proyecto:</label>
            <textarea name="objetivoProyecto" placeholder="Objetivo del proyecto" name="objetivoProyecto" cols="30"
              rows="5" [(ngModel)]="ppro_OBJETIVO_PRO" required></textarea>
          </div>


          <div class="form-group">
            <label for="ppro_OBSERVACIONES_JUSTIFICACI">Observacion del Proyecto:</label>
            <textarea name="message" placeholder="Observaciones del proyecto" cols="30" rows="5"
              [(ngModel)]="ppro_OBSERVACIONES_JUSTIFICACI" required></textarea>
          </div>

          <!-- Sección 5: campos de número -->
          <div class="form-group">
            <label for="montoAprobado">Monto Aprobado en Estudios de Costos:</label>
            <input matInput type="number" placeholder="Monto Aprobado" class="form-control" name="montoAprobado"
              [(ngModel)]="ppro_MONTO_APRO_ESTUDI_COSTOS" required>
          </div>

          <div class="form-group">
            <label for="ppro_CODIGO_PRO_EED">Codigo EDD:</label>
            <input matInput type="number" placeholder="CODIGO EDD" class="form-control" name="CODIGO EDD"
              [(ngModel)]="ppro_CODIGO_PRO_EED" required>
          </div>


          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Crear Proyecto" id="form_button" [disabled]="!form1.valid"
                class="btn btn-primary" />
            </div>

            <!-- Botón para avanzar al siguiente formulario 
            <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
              <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
                class="btn btn-primary btn-siguiente" />
            </div>-->
          </div>

        </form>

        <!-- <form id="AsignamientoResponsable" #form10="ngForm" (ngSubmit)="onSubmitDetalleResponsableTecnico(form10)"
          class="form-container">

          <legend>
            <h1>Formulario de Asignamiento de Responsable Tecnico</h1>
          </legend>


          <div class="form-group">
            <label for="Responsable">Responsable Tecnico</label>
            <select id="Responsable" name="Responsable" (change)="seleccionarResponsableTecnico($event)">
              <option value="" disabled hidden selected>Seleccione un Responsable Tecnico:</option>
              <option *ngFor="let responsableTecnico of responsables" [value]="responsableTecnico.id_PRETE">
                {{ responsableTecnico.prete_NOMBRES }} {{ responsableTecnico.prete_APELLIDOS }}
              </option>
            </select>
          </div>

 Sección 5: campos de número 
        <div class="form-group">
          <Label for="rapido">Codigo Rapido</Label>
          <select id="Rapido" name="Rapido" (change)="seleccionarCodigoRapidoResponsable($event)" required>
            <option value="" disabled hidden selected>Seleccione un Codigo Rapido:</option>
            <option *ngFor="let proyecto of proyectos" [value]="proyecto.id_PPRO_CODIGO_UNICO">
              {{ proyecto.ppro_CODIGO_RAPIDO }}
            </option>
          </select>
        </div>


        <div class="form-group">
          <label for="nombreProyecto">Nombre del Proyecto:</label>

          <input type="text" id="nombreProyecto" placeholder="No editable" name="nombreProyecto"
            [(ngModel)]="nombre_proyecto_CODIGO" readonly>

        </div>






        <div class="submit-container">
          <div class="submit">
            <input type="submit" value="Asignar" id="form_button" [disabled]="!form10.valid" class="btn btn-primary" />
          </div>


          <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
            <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
              class="btn btn-primary btn-siguiente" />
          </div>


          <div class="submit">
            <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
              (click)="regresarFormulario()">Regresar</button>
          </div>
        </div>


        </form> -->


      </div>
    </div>
  </div>


  <div *ngIf="currentFormIndex === 2">
    <div class="container">
      <div id="container">
        <div class="underline"></div>
        <h1>Formulario de Aspectos Tecnicos</h1>
        <!-- Ejemplo en tu plantilla -->
        <form id="AspectosTecnicos_form" #form2="ngForm" (ngSubmit)="onSubmitAspectosTecnicos(form2)"
          class="form-container">
          <legend>
            <h1>Formulario de Aspectos Tecnicos</h1>
          </legend>


          <div class="form-group">
            <label for="Codigorapido">Codigo Rapido:</label>
            <input type="text" placeholder="Ingrese el Codigo rapido" name="Codigorapido" id="ppro_CODIGO_RAPIDO"
              [(ngModel)]="codigo_rapido" required>
            <button type="button" class="btn btn-outline-success" id="buscarDatosCodigoRapido"
              (click)="buscarDatosCodigoRapido()">Buscar el Proyecto</button>
          </div>

          <div class="form-group">
            <label for="nombreProyecto">Nombre del Proyecto:</label>
            <input type="text" id="nombreProyecto" placeholder="No editable" name="nombreProyecto"
              [(ngModel)]="nombre_proyecto" disabled>
          </div>


          <div class="form-group">
            <label for="paste_FECHA_ASPEC_TECNICOS">Fecha de Ingreso de Aspectos Tecnicos:</label>
            <input type="date" id="paste_FECHA_ASPEC_TECNICOS" placeholder="Fecha" name="paste_FECHA_ASPEC_TECNICOS"
              [(ngModel)]="paste_FECHA_ASPEC_TECNICOS" required>
          </div>

          <!-- Sección 1: Selecciones -->
          <div class="form-group">
            <label for="ambiental">Tipo de Permiso Ambiental:</label>
            <select name="ambiental" id="ambiental" (change)="seleccionarTipoAmbiental($event)" required>
              <option disabled hidden selected>Seleccione un tipo de Permiso:</option>
              <option *ngFor="let aspectosTecnicos of tipoAmbiental" [value]="aspectosTecnicos.id_PTIPEAM">
                {{aspectosTecnicos.ptipeam_TIPO_PER_AMBIENTAL}}
              </option>
            </select>
          </div>

          <!-- Sección 5: campos de número -->
          <div class="form-group">
            <label for="paste_BENEFI_DIRECT_PLANI">Beneficiarios Directos Planificado:</label>
            <input matInput type="number" placeholder="Beneficiarios Directos" class="form-control"
              name="paste_BENEFI_DIRECT_PLANI" [(ngModel)]="paste_BENEFI_DIRECT_PLANI" required>
          </div>

          <div class="form-group">
            <label for="paste_BENEFI_DIRECT_EJEC">Beneficiarios Directos Ejecutado:</label>
            <input matInput type="number" placeholder="Beneficiarios Directos " class="form-control"
              name="paste_BENEFI_DIRECT_EJEC" [(ngModel)]="paste_BENEFI_DIRECT_EJEC" required>
          </div>

          <div class="form-group">
            <label for="paste_VIVIENDAS_CON_SERVICIO_P">Viviendas con Servicio Planificado:</label>
            <input matInput type="number" placeholder="Viviendas con Servicio" class="form-control"
              name="paste_VIVIENDAS_CON_SERVICIO_P" [(ngModel)]="paste_VIVIENDAS_CON_SERVICIO_P" required>
          </div>

          <div class="form-group">
            <label for="paste_VIVIENDAS_CON_SERVICIO_E">Viviendas con Servicio Ejecutado:</label>
            <input matInput type="number" placeholder="Viviendas con Servicio" class="form-control"
              name="paste_VIVIENDAS_CON_SERVICIO_E" [(ngModel)]="paste_VIVIENDAS_CON_SERVICIO_E" required>
          </div>

          <div class="form-group">
            <label for="paste_VIVIENDAS_SIN_SERVICIO_P">Viviendas sin Servicio Planificado:</label>
            <input matInput type="number" placeholder="Viviendas sin Servicio" class="form-control"
              name="paste_VIVIENDAS_SIN_SERVICIO_P" [(ngModel)]="paste_VIVIENDAS_SIN_SERVICIO_P" required>
          </div>

          <div class="form-group">
            <label for="paste_VIVIENDAS_SIN_SERVICIO_E">Viviendas sin Servicio Ejecutado:</label>
            <input matInput type="number" placeholder="Viviendas sin Servicio" class="form-control"
              name="paste_VIVIENDAS_SIN_SERVICIO_E" [(ngModel)]="paste_VIVIENDAS_SIN_SERVICIO_E" required>
          </div>

          <div class="form-group">
            <label for="paste_TOTAL_VIVIENDA_PLANI">Total Viviendas Planificado:</label>
            <input matInput type="number" placeholder="Total Viviendas" class="form-control"
              name="paste_TOTAL_VIVIENDA_PLANI" [(ngModel)]="paste_TOTAL_VIVIENDA_PLANI" required>
          </div>

          <div class="form-group">
            <label for="paste_TOTAL_VIVIENDA_EJEC">Total Viviendas Ejecutado:</label>
            <input matInput type="number" placeholder="Total Viviendas" class="form-control"
              name="paste_TOTAL_VIVIENDA_EJEC" [(ngModel)]="paste_TOTAL_VIVIENDA_EJEC" required>
          </div>

          <div class="form-group">
            <label for="paste_LUMINARIA_NUEVAS_PLANI">Luminarias Nuevas Planificado:</label>
            <input matInput type="number" placeholder="Luminarias Nuevas" class="form-control"
              name="paste_LUMINARIA_NUEVAS_PLANI" [(ngModel)]="paste_LUMINARIA_NUEVAS_PLANI" required>
          </div>

          <div class="form-group">
            <label for="paste_LUMINARIA_NUEVAS_EJEC">Luminarias Nuevas Ejecutado:</label>
            <input matInput type="number" placeholder="Luminarias Nuevas" class="form-control"
              name="paste_LUMINARIA_NUEVAS_EJEC" [(ngModel)]="paste_LUMINARIA_NUEVAS_EJEC" required>
          </div>

          <div class="form-group">
            <label for="paste_AV_PLANFIICADO">AV (km) Planificado:</label>
            <input matInput type="number" placeholder="AV (km)" class="form-control" name="paste_AV_PLANFIICADO"
              [(ngModel)]="paste_AV_PLANFIICADO" required>
          </div>

          <div class="form-group">
            <label for="paste_AV_EJECUTADO">AV (km) Ejecutado:</label>
            <input matInput type="number" placeholder="AV (km)" class="form-control" name="paste_AV_EJECUTADO"
              [(ngModel)]="paste_AV_EJECUTADO" required>
          </div>

          <div class="form-group">
            <label for="paste_MV_PLANFIICADO">MV (km) Planificado:</label>
            <input matInput type="number" placeholder="MV (km)" class="form-control" name="paste_MV_PLANFIICADO"
              [(ngModel)]="paste_MV_PLANFIICADO" required>
          </div>

          <div class="form-group">
            <label for="paste_MV_EJECUTADO">MV (km) Ejecutado:</label>
            <input matInput type="number" placeholder="MV (km)" class="form-control" name="paste_MV_EJECUTADO"
              [(ngModel)]="paste_MV_EJECUTADO" required>
          </div>

          <div class="form-group">
            <label for="paste_BV_PLANFIICADO">BV (km) Planificado:</label>
            <input matInput type="number" placeholder="BV (km)" class="form-control" name="paste_BV_PLANFIICADO"
              [(ngModel)]="paste_BV_PLANFIICADO" required>
          </div>

          <div class="form-group">
            <label for="paste_BV_EJECUTADO">BV (km) Ejecutado:</label>
            <input matInput type="number" placeholder="BV (km)" class="form-control" name="paste_BV_EJECUTADO"
              [(ngModel)]="paste_BV_EJECUTADO" required>
          </div>

          <div class="form-group">
            <label for="paste_ACOMO_MEDI_PLANI">Acometidas de Medidores
              (km) Planificado:</label>
            <input matInput type="number" placeholder="Acometidas de Medidores
            (km)" class="form-control" name="paste_ACOMO_MEDI_PLANI" [(ngModel)]="paste_ACOMO_MEDI_PLANI" required>
          </div>

          <div class="form-group">
            <label for="paste_ACOMO_MEDI_EJEC">Acometidas de Medidores
              (km) Ejecutado:</label>
            <input matInput type="number" placeholder="Acometidas de Medidores
            (km)" class="form-control" name="paste_ACOMO_MEDI_EJEC" [(ngModel)]="paste_ACOMO_MEDI_EJEC" required>
          </div>



          <div class="form-group">
            <label for="paste_MEDIDORES_PLANI">Medidores Planificado:</label>
            <input matInput type="number" placeholder="Medidores" class="form-control" name="paste_MEDIDORES_PLANI"
              [(ngModel)]="paste_MEDIDORES_PLANI" required>
          </div>

          <div class="form-group">
            <label for="paste_MEDIDORES_EJEC">Medidores Ejecutado:</label>
            <input matInput type="number" placeholder="Medidores" class="form-control" name="paste_MEDIDORES_EJEC"
              [(ngModel)]="paste_MEDIDORES_EJEC" required>
          </div>

          <div class="form-group">
            <label for="paste_TRAN_DISTRIBUCION_EJEC">Transformadores de Distribución Planificado:</label>
            <input matInput type="number" placeholder="Transformadores de Distribución" class="form-control"
              name="paste_TRAN_DISTRIBUCION_EJEC" [(ngModel)]="paste_TRAN_DISTRIBUCION_EJEC" required>
          </div>

          <div class="form-group">
            <label for="paste_TRAN_DISTRIBUCION_PLANI">Transformadores de Distribución Ejecutado:</label>
            <input matInput type="number" placeholder="Transformadores de Distribución" class="form-control"
              name="paste_TRAN_DISTRIBUCION_PLANI" [(ngModel)]="paste_TRAN_DISTRIBUCION_PLANI" required>
          </div>

          <div class="form-group">
            <label for="paste_PO_IN_TRAN__DIST_PLANI">Potencia Instalada en Transformadores de Distribución
              (kVA) Planificado:</label>
            <input matInput type="number" placeholder="Potencia Instalada en Transformadores de Distribución
            (kVA)" class="form-control" name="paste_PO_IN_TRAN__DIST_PLANI" [(ngModel)]="paste_PO_IN_TRAN__DIST_PLANI"
              required>
          </div>

          <div class="form-group">
            <label for="paste_PO_IN_TRAN__DIST_EJEC">Potencia Instalada en Transformadores de Distribución
              (kVA) Ejecutado:</label>
            <input matInput type="number" placeholder="Potencia Instalada en Transformadores de Distribución
            (kVA)" class="form-control" name="paste_PO_IN_TRAN__DIST_EJEC" [(ngModel)]="paste_PO_IN_TRAN__DIST_EJEC"
              required>
          </div>

          <div class="form-group">
            <label for="paste_SUBE_DISTRI_NUEV_PLANI">Subestaciones de Distribución Nuevas Planificado:</label>
            <input matInput type="number" placeholder="Subestaciones de Distribución Nuevas" class="form-control"
              name="paste_SUBE_DISTRI_NUEV_PLANI" [(ngModel)]="paste_SUBE_DISTRI_NUEV_PLANI" required>
          </div>

          <div class="form-group">
            <label for="paste_SUBE_DISTRI_NUEV_EJEC">Subestaciones de Distribución Nuevas Ejecutado:</label>
            <input matInput type="number" placeholder="Subestaciones de Distribución Nuevas" class="form-control"
              name="paste_SUBE_DISTRI_NUEV_EJEC" [(ngModel)]="paste_SUBE_DISTRI_NUEV_EJEC" required>
          </div>


          <div class="form-group">
            <label for="paste__PO_IN_SUB_DISTRI_NUEV_P">Potencia Instalada en Subestaciones de Distribución Nuevas
              (MVA) Planificado:</label>
            <input matInput type="number" placeholder="Potencia Instalada en Subestaciones de Distribución Nuevas
            (MVA)" class="form-control" name="paste__PO_IN_SUB_DISTRI_NUEV_P"
              [(ngModel)]="paste__PO_IN_SUB_DISTRI_NUEV_P" required>
          </div>

          <div class="form-group">
            <label for="paste__PO_IN_SUB_DISTRI_NUEV_E">Potencia Instalada en Subestaciones de Distribución Nuevas
              (MVA) Ejecutado:</label>
            <input matInput type="number" placeholder="Potencia Instalada en Subestaciones de Distribución Nuevas
            (MVA)" class="form-control" name="paste__PO_IN_SUB_DISTRI_NUEV_E"
              [(ngModel)]="paste__PO_IN_SUB_DISTRI_NUEV_E" required>
          </div>


          <div class="form-group">
            <label for="paste_FECH_OB_PERM_AMBI_PLANI">Fecha de Obtención del Permiso Ambiental
              (dd/mm/aaaa) Planificado:</label>
            <input type="date" placeholder="Fecha de Obtención del Permiso Ambiental
            (dd/mm/aaaa)" class="form-control" name="paste_FECH_OB_PERM_AMBI_PLANI"
              [(ngModel)]="paste_FECH_OB_PERM_AMBI_PLANI" required>
          </div>

          <div class="form-group">
            <label for="paste_FECH_OB_PERM_AMBI_EJEC">Fecha de Obtención del Permiso Ambiental
              (dd/mm/aaaa) Ejecutado:</label>
            <input type="date" placeholder="Fecha de Obtención del Permiso Ambiental
            (dd/mm/aaaa)" class="form-control" name="paste_FECH_OB_PERM_AMBI_EJEC"
              [(ngModel)]="paste_FECH_OB_PERM_AMBI_EJEC" required>
          </div>


          <div class="form-group">
            <label for="paste_EMPLE_DIRE_GENERA">Empleos
              directos generados:</label>
            <input matInput type="number" placeholder="Empleos directos generados" class="form-control"
              name="paste_EMPLE_DIRE_GENERA" [(ngModel)]="paste_EMPLE_DIRE_GENERA" required>

          </div>


          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Enviar formulario" id="form_button" [disabled]="!form2.valid"
                class="btn btn-primary" />
            </div>

            <!-- Botón para avanzar al siguiente formulario -->
            <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
              <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
                class="btn btn-primary btn-siguiente" />
            </div>

            <!-- Botón para regresar al formulario anterior -->
            <div class="submit">
              <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
                (click)="regresarFormulario()">Regresar</button>
            </div>
          </div>

        </form>


      </div><!-- // End #container -->
    </div>
  </div>


  <div *ngIf="currentFormIndex === 3">
    <div class="container">
      <div id="container">
        <div class="underline"></div>
        <h1>Formulario de Aspectos Financieros</h1>
        <!-- Ejemplo en tu plantilla -->
        <form id="AspectosFinacieros_form" #form3="ngForm" (ngSubmit)="onSubmitAspectosFinancieros(form3)"
          class="form-container">

          <legend>
            <h1>Formulario de Aspectos Financieros</h1>
          </legend>

          <div class="form-group">
            <label for="Codigorapido">Codigo Rapido:</label>
            <input type="text" placeholder="Ingrese el Codigo rapido" name="Codigorapido" id="ppro_CODIGO_RAPIDO"
              [(ngModel)]="codigo_rapido" required>
            <button type="button" class="btn btn-outline-success" id="buscarDatosCodigoRapido"
              (click)="buscarDatosCodigoRapido()">Buscar el Proyecto</button>
          </div>

          <div class="form-group">
            <label for="nombreProyecto">Nombre del Proyecto:</label>
            <input type="text" id="nombreProyecto" placeholder="No editable" name="nombreProyecto"
              [(ngModel)]="nombre_proyecto" disabled>
          </div>


          <div class="form-group">
            <label for="pasfina_FECHA">Fecha de Ingreso de Aspectos Financieros:</label>
            <input type="date" id="pasfina_FECHA" placeholder="Fecha" name="pasfina_FECHA" [(ngModel)]="pasfina_FECHA"
              required>
          </div>


          <!-- Sección 5: campos de número -->
          <div class="form-group">
            <label for="pasfina_PRESU_CODIFICADO">Presupuesto Codificado:</label>
            <input matInput type="number" placeholder="Presupuesto Codificado" class="form-control"
              name="pasfina_PRESU_CODIFICADO" [(ngModel)]="pasfina_PRESU_CODIFICADO" required>
          </div>

          <div class="form-group">
            <label for="pasfina_DEVENGADO">Devengado:</label>
            <input matInput type="number" placeholder="Devengado" class="form-control" name="pasfina_DEVENGADO"
              [(ngModel)]="pasfina_DEVENGADO" required>
          </div>

          <div class="form-group">
            <label for="pasfina_EJECUTADO">Ejecutado:</label>
            <input matInput type="number" placeholder="Ejecutado" class="form-control" name="pasfina_EJECUTADO"
              [(ngModel)]="pasfina_EJECUTADO" required>
          </div>

          <div class="form-group">
            <label for="pasfina_ASIGNACION_INICIAL">Asignacion Inicial:</label>
            <input matInput type="number" placeholder="Asignacion Inicial" class="form-control"
              name="pasfina_ASIGNACION_INICIAL" [(ngModel)]="pasfina_ASIGNACION_INICIAL" required>
          </div>

          <div class="form-group">
            <label for="pasfina_REFORMAS">Reformas:</label>
            <input matInput type="number" placeholder="Reformas" class="form-control" name="pasfina_REFORMAS"
              [(ngModel)]="pasfina_REFORMAS" required>
          </div>

          <div class="form-group">
            <label for="pasfina_PRE_COMPROMISO">Pre Compromiso:</label>
            <input matInput type="number" placeholder="Pre Compromiso" class="form-control"
              name="pasfina_PRE_COMPROMISO" [(ngModel)]="pasfina_PRE_COMPROMISO" required>
          </div>

          <div class="form-group">
            <label for="pasfina_COMPROMISO">Compromiso:</label>
            <input matInput type="number" placeholder="Compromiso" class="form-control" name="pasfina_COMPROMISO"
              [(ngModel)]="pasfina_COMPROMISO" required>
          </div>

          <div class="form-group">
            <label for="pasfina_EJECUTADO_PAGADO">Ejecutado Pagado:</label>
            <input matInput type="number" placeholder="Ejecutado Pagado" class="form-control"
              name="pasfina_EJECUTADO_PAGADO" [(ngModel)]="pasfina_EJECUTADO_PAGADO" required>
          </div>

          <div class="form-group">
            <label for="pasfina_ANTICIPO_NO_AMORTI">Anticipo no Amortizado:</label>
            <input matInput type="number" placeholder="Anticipo no Amortizado" class="form-control"
              name="pasfina_ANTICIPO_NO_AMORTI" [(ngModel)]="pasfina_ANTICIPO_NO_AMORTI" required>
          </div>

          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Enviar formulario" id="form_button" [disabled]="!form3.valid"
                class="btn btn-primary" />
            </div>

            <!-- Botón para avanzar al siguiente formulario -->
            <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
              <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
                class="btn btn-primary btn-siguiente" />
            </div>

            <!-- Botón para regresar al formulario anterior -->
            <div class="submit">
              <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
                (click)="regresarFormulario()">Regresar</button>
            </div>
          </div>


        </form>


      </div><!-- // End #container -->
    </div>
  </div>


  <div *ngIf="currentFormIndex === 4">
    <div class="container">
      <div id="container">
        <div class="underline"></div>
        <h1>Formulario de Ejecucion del Proyecto</h1>
        <form id="EjecucionProyecto_form" #form4="ngForm" (ngSubmit)="onSubmitEjecucionProyecto(form4)"
          class="form-container">

          <legend>
            <h1>Formulario de Ejecucion del Proyecto</h1>
          </legend>

          <div class="form-group">
            <label for="Codigorapido">Codigo Rapido:</label>
            <input type="text" placeholder="Ingrese el Codigo rapido" name="Codigorapido" id="ppro_CODIGO_RAPIDO"
              [(ngModel)]="codigo_rapido" required>
            <button type="button" class="btn btn-outline-success" id="buscarDatosCodigoRapido"
              (click)="buscarDatosCodigoRapido()">Buscar el Proyecto</button>
          </div>

          <div class="form-group">
            <label for="nombreProyecto">Nombre del Proyecto:</label>
            <input type="text" id="nombreProyecto" placeholder="No editable" name="nombreProyecto"
              [(ngModel)]="nombre_proyecto" disabled>
          </div>

          <div class="form-group">
            <label for="pejecp_FECHA_INICIO_PRO">Fecha de Inicio del Proyecto:</label>
            <input type="date" id="pejecp_FECHA_INICIO_PRO" placeholder="Fecha" name="pejecp_FECHA_INICIO_PRO"
              [(ngModel)]="pejecp_FECHA_INICIO_PRO" required>
          </div>

          <div class="form-group">
            <label for="pejecp_FECHA_PROG_FINA_PRO">Fecha de Final Programa del Proyecto:</label>
            <input type="date" id="pejecp_FECHA_PROG_FINA_PRO" placeholder="Fecha" name="pejecp_FECHA_PROG_FINA_PRO"
              [(ngModel)]="pejecp_FECHA_PROG_FINA_PRO" required>
          </div>

          <div class="form-group">
            <label for="pejecp_FECHA_FINAL_PRO">Fecha de Final del Proyecto:</label>
            <input type="date" id="pejecp_FECHA_FINAL_PRO" placeholder="Fecha" name="pejecp_FECHA_FINAL_PRO"
              [(ngModel)]="pejecp_FECHA_FINAL_PRO" required>
          </div>

          <!-- Sección 1: Selecciones -->
          <div class="form-group">
            <label for="ambiental">Estado del Proyecto:</label>
            <select name="ambiental" id="ambiental" (change)="seleccionarEstadoProyecto($event)" required>
              <option disabled hidden selected>Seleccione el Estado del Proyecto:</option>
              <option *ngFor="let ejecucionProyecto of estadoProyecto" [value]="ejecucionProyecto.id_PESTPRO">
                {{ejecucionProyecto.pestpro_ESTADO_PRO}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="ambiental">Etapa de Ejecucion del Proyecto:</label>
            <select name="ambiental" id="ambiental" (change)="seleccionarEtapaEjecucion($event)" required>
              <option disabled hidden selected>Seleccione la etapa de Ejecucion %:</option>
              <option *ngFor="let ejecucionProyecto of etapaEjecucion" [value]="ejecucionProyecto.id_PETAEJEPRO">
                {{ejecucionProyecto.petaejepro_ETAPA_EJE_PROYEC}}
              </option>
            </select>
          </div>

          <!-- Sección 5: campos de número -->
          <div class="form-group">
            <label for="pejecp_AVANCE_EJECU_FISICA_PRO">Avance de Ejecucion Fisica %:</label>
            <input matInput type="number" placeholder="Avance de Ejecucion Fisica %" min="0" max="100"
              class="form-control" name="pejecp_AVANCE_EJECU_FISICA_PRO" [(ngModel)]="pejecp_AVANCE_EJECU_FISICA_PRO"
              required>
          </div>

          <div class="form-group">
            <label for="pejecp_AVANCE_EJECU_TOTAL_PRO">Avance de Ejecucion Total %:</label>
            <input matInput type="number" placeholder="Avance de Ejecucion Total %" min="0" max="100"
              class="form-control" name="pejecp_AVANCE_EJECU_TOTAL_PRO" [(ngModel)]="pejecp_AVANCE_EJECU_TOTAL_PRO"
              required>
          </div>

          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Enviar formulario" id="form_button" [disabled]="!form4.valid"
                class="btn btn-primary" />
            </div>

            <!-- Botón para avanzar al siguiente formulario -->
            <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
              <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
                class="btn btn-primary btn-siguiente" />
            </div>

            <!-- Botón para regresar al formulario anterior -->
            <div class="submit">
              <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
                (click)="regresarFormulario()">Regresar</button>
            </div>
          </div>


        </form>
      </div><!-- // End #container -->
    </div>
  </div>


  <div *ngIf="currentFormIndex === 5">
    <div class="container">
      <div id="container">
        <div class="underline"></div>
        <form id="Proforma" #form5="ngForm" (ngSubmit)="onSubmitProfroma(form5)" class="form-container">

          <legend>
            <h1>Formulario de Proforma del Proyecto</h1>
          </legend>

          <div class="form-group">
            <label for="Codigorapido">Codigo Rapido:</label>
            <input type="text" placeholder="Ingrese el Codigo rapido" name="Codigorapido" id="ppro_CODIGO_RAPIDO"
              [(ngModel)]="codigo_rapido" required>
            <button type="button" class="btn btn-outline-success" id="buscarDatosCodigoRapido"
              (click)="buscarDatosCodigoRapido()">Buscar el Proyecto</button>
          </div>

          <div class="form-group">
            <label for="nombreProyecto">Nombre del Proyecto:</label>
            <input type="text" id="nombreProyecto" placeholder="No editable" name="nombreProyecto"
              [(ngModel)]="nombre_proyecto" disabled>
          </div>

          <div class="form-group">
            <label for="pproin_ANIO">Año:</label>
            <input type="text" class="form-control" placeholder="Año de Proforma" name="pproin_ANIO"
              [(ngModel)]="pproin_ANIO" pattern="[0-9]{4}" title="El año debe tener 4 dígitos numéricos"
              (keypress)="onKeyPressAnioProforma($event)" required (keyup)="onYearChangeAnioProforma()">
            <div
              *ngIf="form5.controls['pproin_ANIO'].hasError('required') && (form5.controls['pproin_ANIO'].dirty || form5.controls['pproin_ANIO'].touched)">
              <div *ngIf="form5.controls['pproin_ANIO'].errors && form5.controls['pproin_ANIO'].errors['required']"
                style="color: red;">El año es requerido.</div>
            </div>
            <div
              *ngIf="form5.controls['pproin_ANIO'].hasError('pattern') && (form5.controls['pproin_ANIO'].dirty || form5.controls['pproin_ANIO'].touched)">
              <div *ngIf="form5.controls['pproin_ANIO'].errors && form5.controls['pproin_ANIO'].errors['pattern']"
                style="color: red;">El año debe tener 4 dígitos numéricos.</div>
            </div>
          </div>




          <!-- Sección 5: campos de número -->
          <div class="form-group">
            <label for="pproin_VALOR_TOTAL_PROYECTO_PR">Valor Total del Proyecto Proforma</label>
            <input matInput type="number" placeholder="Valor Total del Proyecto Proforma" class="form-control"
              name="pproin_VALOR_TOTAL_PROYECTO_PR" [(ngModel)]="pproin_VALOR_TOTAL_PROYECTO_PR" required>
          </div>

          <div class="form-group">
            <label for="pproin_PROFORMA">Proforma:</label>
            <input matInput type="number" placeholder="Proforma" class="form-control" name="pproin_PROFORMA"
              [(ngModel)]="pproin_PROFORMA" required>
          </div>


          <div class="form-group">
            <label for="pproin_PRESUPUESTO_PROFORMA">Presupuesto Proforma:</label>
            <input matInput type="number" placeholder="Presupuesto Proforma" class="form-control"
              name="pproin_PRESUPUESTO_PROFORMA" [(ngModel)]="pproin_PRESUPUESTO_PROFORMA" required>
          </div>

          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Enviar formulario" id="form_button" [disabled]="!form5.valid"
                class="btn btn-primary" />
            </div>

            <!-- Botón para avanzar al siguiente formulario -->
            <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
              <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
                class="btn btn-primary btn-siguiente" />
            </div>

            <!-- Botón para regresar al formulario anterior -->
            <div class="submit">
              <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
                (click)="regresarFormulario()">Regresar</button>
            </div>
          </div>


        </form>

        <form id="Reforms" #form6="ngForm" (ngSubmit)="onSubmitReforma(form6)" class="form-container">

          <legend>
            <h1>Formulario de Reforma del Proyecto</h1>
          </legend>

          <div class="form-group">
            <label for="Codigorapido_refor">Codigo Rapido:</label>
            <input type="text" placeholder="Ingrese el Codigo rapido" name="Codigorapido_refor" id="ppro_CODIGO_RAPIDO"
              [(ngModel)]="codigo_rapido_re" required>
            <button type="button" class="btn btn-outline-success" id="buscarDatosCodigoRapido"
              (click)="buscarDatosCodigoRapidoReforma()">Buscar el Proyecto</button>
          </div>

          <div class="form-group">
            <label for="nombreProyecto_re">Nombre del Proyecto:</label>
            <input type="text" id="nombreProyecto" placeholder="No editable" name="nombreProyecto_re"
              [(ngModel)]="nombre_proyecto_re" disabled>
          </div>


          <div class="form-group">
            <label for="prefoin_ANIO">Año:</label>
            <input type="text" class="form-control" placeholder="Año de Reforma" name="prefoin_ANIO"
              [(ngModel)]="prefoin_ANIO" pattern="[0-9]{4}" title="El año debe tener 4 dígitos numéricos"
              (keypress)="onKeyPressAnioProforma($event)" required (keyup)="onYearChangeAnioProforma()">
            <div
              *ngIf="form6.controls['prefoin_ANIO'].hasError('required') && (form6.controls['prefoin_ANIO'].dirty || form6.controls['prefoin_ANIO'].touched)">
              <div *ngIf="form6.controls['prefoin_ANIO'].errors && form6.controls['prefoin_ANIO'].errors['required']"
                style="color: red;">El año es requerido.</div>
            </div>
            <div
              *ngIf="form6.controls['prefoin_ANIO'].hasError('pattern') && (form6.controls['prefoin_ANIO'].dirty || form6.controls['prefoin_ANIO'].touched)">
              <div *ngIf="form6.controls['prefoin_ANIO'].errors && form6.controls['prefoin_ANIO'].errors['pattern']"
                style="color: red;">El año debe tener 4 dígitos numéricos.</div>
            </div>
          </div>


          <!-- Sección 5: campos de número -->
          <div class="form-group">
            <label for="prefoin_VALOR_TOTAL_PROYECTO_R">Valor Total del Proyecto Reforma</label>
            <input matInput type="number" placeholder="Valor Total del Proyecto Reforma" class="form-control"
              name="prefoin_VALOR_TOTAL_PROYECTO_R" [(ngModel)]="prefoin_VALOR_TOTAL_PROYECTO_R" required>
          </div>

          <div class="form-group">
            <label for="prefoin_REFORMA">Proforma:</label>
            <input matInput type="number" placeholder="Reforma" class="form-control" name="prefoin_REFORMA"
              [(ngModel)]="prefoin_REFORMA" required>
          </div>


          <div class="form-group">
            <label for="prefoin_PRESUPUESTO_REFORMA">Presupuesto Reforma</label>
            <input matInput type="number" placeholder="Presupuesto Reforma" class="form-control"
              name="prefoin_PRESUPUESTO_REFORMA" [(ngModel)]="prefoin_PRESUPUESTO_REFORMA" required>
          </div>

          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Enviar formulario" id="form_button" [disabled]="!form6.valid"
                class="btn btn-primary" />
            </div>

            <!-- Botón para avanzar al siguiente formulario -->
            <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
              <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
                class="btn btn-primary btn-siguiente" />
            </div>

            <!-- Botón para regresar al formulario anterior -->
            <div class="submit">
              <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
                (click)="regresarFormulario()">Regresar</button>
            </div>
          </div>


        </form>
      </div><!-- // End #container -->
    </div>
  </div>



 <!-- <div *ngIf="currentFormIndex === 6">
    <div class="container">
      <div id="container">
        <div class="underline"></div>
        <form id="Ejecu_form" #form7="ngForm" (ngSubmit)="onSubmitProcesosSercop(form7)" class="form-container">

          <legend>
            <h1>Formulario de Procesos Sercop</h1>
          </legend>

          <div class="form-group">
            <label for="Codigorapido">Codigo Rapido:</label>
            <input type="text" placeholder="Ingrese el Codigo rapido" name="Codigorapido" id="ppro_CODIGO_RAPIDO"
              [(ngModel)]="codigo_rapido" required>
            <button type="button" class="btn btn-outline-success" id="buscarDatosCodigoRapido"
              (click)="buscarDatosCodigoRapido()">Buscar el Proyecto</button>
          </div>

          <div class="form-group">
            <label for="nombreProyecto">Nombre del Proyecto:</label>
            <input type="text" id="nombreProyecto" placeholder="No editable" name="nombreProyecto"
              [(ngModel)]="nombre_proyecto" disabled required>
          </div>

          <div class="form-group">
            <label for="pproser_PROCESOS_SERCOP">Procesos Sercop:</label>
            <input type="text" id="pproser_PROCESOS_SERCOP" placeholder="Procesos Sercop" name="pproser_PROCESOS_SERCOP"
              [(ngModel)]="pproser_PROCESOS_SERCOP" required>
          </div>



          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Enviar formulario" id="form_button" [disabled]="!form7.valid"
                class="btn btn-primary" />
            </div>

             Botón para avanzar al siguiente formulario 
            <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
              <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
                class="btn btn-primary btn-siguiente" />
            </div>

          Botón para regresar al formulario anterior 
            <div class="submit">
              <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
                (click)="regresarFormulario()">Regresar</button>
            </div>
          </div>


        </form>


      </div> // End #container
    </div>
  </div>-->



  <div *ngIf="currentFormIndex === 7">
    <div class="container">
      <div id="container">
        <div class="underline"></div>


        <form id="EjecucionProyecto_form" #form11="ngForm" (ngSubmit)="onSubmitDetallePartidaPresupuestaria(form11)"
          class="form-container">

          <legend>
            <h1>Formulario de Asignamiento de Partida Presupuestaria del Proyecto</h1>
          </legend>


          <div class="form-group">
            <Label for="Presupuestaria">Partida Presupuestaria</Label>
            <select id="Presupuestaria" name="Presupuestaria" (change)="seleccionarPartidaPresupuestaria($event)"
              required>
              <option value="" disabled hidden selected>Seleccione una Partida Presupuestaria</option>
              <option *ngFor="let partidaPresupuestaria of partidas" [value]="partidaPresupuestaria.id_PPART">
                {{ partidaPresupuestaria.ppart_PARTIDA_PRESUPUESTARIA }} {{
                partidaPresupuestaria.ptipapre_TIPO_PAR_PRESUPUESTAR }}
              </option>
            </select>
          </div>


          <div class="form-group">
            <Label for="rapido2">Codigo Rapido</Label>
            <select id="rapido2" name="rapido2" (change)="seleccionarCodigoPartidaPresupuestaria($event)" required>
              <option value="" disabled hidden selected>Seleccione un Codigo Rapido:</option>
              <option *ngFor="let proyecto of proyectos" [value]="proyecto.id_PPRO_CODIGO_UNICO">
                {{ proyecto.ppro_CODIGO_RAPIDO }}
              </option>
            </select>
          </div>




          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Enviar formulario" id="form_button" [disabled]="!form11.valid"
                class="btn btn-primary" />
            </div>

            <!-- Botón para avanzar al siguiente formulario -->
            <div class="submit" *ngIf="currentFormIndex < formSequence.length - 1">
              <input type="submit" value="Siguiente formulario" id="form_button_siguiente" (click)="onNextForm()"
                class="btn btn-primary btn-siguiente" />
            </div>

            <!-- Botón para regresar al formulario anterior -->
            <div class="submit">
              <button id="form_button_siguiente" class="btn btn-secondary btn-regresar"
                (click)="regresarFormulario()">Regresar</button>
            </div>
          </div>


        </form>
      </div><!-- // End #container -->
    </div>
  </div>



</body>