<body>


  <div *ngIf="currentFormIndex === 0">
    <div class="container">
      <div id="container">
        <div class="underline"></div>
        <form id="Proyecto_form" #form1="ngForm" (ngSubmit)="onSubmitProyecto(form1)" class="form-container">
          <legend>
            <h1>Formulario de Datos Principales del Proyecto</h1>
          </legend>

          <!-- Sección 1: Selecciones -->
          <div class="form-group">
            <label for="departamento">Departamento:</label>
            <select name="departamento" id="departamento" (change)="seleccionarDepartamento($event)" required>
              <option disabled hidden selected>Seleccione un Departamento:</option>
              <option *ngFor="let proyecto of departamentos" [value]="proyecto.id_PDEP">{{proyecto.pdep_DEPARTAMENTO}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="tipoPlan">Tipo de Plan:</label>
            <select name="tipoPlan" id="tipoPlan" (change)="seleccionarTipoPlan($event)" required>
              <option disabled hidden selected>Seleccione un Tipo de Plan:</option>
              <option *ngFor="let proyecto of tipoPlan" [value]="proyecto.id_PTIPLA">{{proyecto.ptipla_TIPO_PLAN}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="tipoPeriodicidad">Tipo de Periodicidad</label>
            <select name="tipoPeriodicidad" id="tipoPeriodicidad" (change)="seleccionarTipoPeriodicidad($event)"
              required>
              <option disabled hidden selected>Seleccione un Tipo de Periodicidad:</option>
              <option *ngFor="let proyecto of tipoPeriodicidad" [value]="proyecto.id_PTIPER">
                {{proyecto.ptiper_TIPO_PERIODICIDAD}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="etapaFuncional">Etapa Funcional</label>
            <select name="etapaFuncional" id="etapaFuncional" (change)="seleccionarEtapaFuncional($event)" required>
              <option disabled hidden selected>Seleccione la Etapa Funcional:</option>
              <option *ngFor="let proyecto of etapaFuncional" [value]="proyecto.id_PETAFUN">
                {{proyecto.petafun_ETAPA_FUNCIONAL}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="tipoPrograma">Tipo de Programa</label>
            <select name="tipoPrograma" id="tipoPrograma" (change)="seleccionarTipoPrograma($event)" required>
              <option disabled hidden selected>Seleccione un Tipo de Programa:</option>
              <option *ngFor="let proyecto of tipoPrograma" [value]="proyecto.id_PTIPRO">
                {{proyecto.ptipro_TIPO_PROGRAMA}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="tipoSubprograma">Tipo de Subprograma</label>
            <select name="tipoSubprograma" id="tipoSubprograma" (change)="seleccionarTipoSubprograma($event)"
              [disabled]="!tipoProgramaSeleccionado" required>
              <option disabled hidden selected>Seleccione una Tipo de Subprograma:</option>
              <option *ngFor="let proyecto of tipoSubprograma" [value]="proyecto.id_PTISUBP">
                {{proyecto.ptisubp_TIPO_SUBPROGRAMA}}
              </option>
            </select>
          </div>


          
          <div class="form-group">
            <label for="Parroquia">CODIGO Parroquia:</label>
            <select name="Parroquia" id="Parroquia" (change)="seleccionarParroquia($event)" required>
              <option disabled hidden selected>Seleccione una Parroquia</option>
              <option *ngFor="let proyecto of parroquia" [value]="proyecto.ppro_COD_PARROQUIA">{{proyecto.parroquia}} ({{proyecto.ppro_COD_PARROQUIA}})
              </option>
            </select>
          </div>



          <!-- Sección 2: Campos de texto -->
          <div class="form-group">
            <label for="codigoEstudiosCostos">Código de Estudios de Costos:</label>
            <input type="text" id="codigoEstudiosCostos" placeholder="Código de Estudios de Costos"
              name="codigoEstudiosCostos" [(ngModel)]="ppro_CODIGO_ESTU_COSTOS" required>
          </div>

          <div class="form-group">
            <label for="nombreProyecto">Nombre del Proyecto:</label>
            <textarea type="text" id="nombreProyecto" placeholder="Nombre del Proyecto" name="nombreProyecto"
              [(ngModel)]="ppro_NOMBRE_PROY" required>

            </textarea>
          </div>


          <div class="form-group">
            <label for="Codigorapido">Código Rápido/EDD:</label>
            <input type="text" placeholder="Código Rápido" name="Codigorapido" id="ppro_CODIGO_RAPIDO"
              [(ngModel)]="ppro_CODIGO_RAPIDO" required>
          </div>
          <div class="form-group">
            <label for="ppro_ANIO_APROBACION">Año de Aprobación:</label>
            <input type="text" class="form-control" placeholder="Año de Aprobación" name="ppro_ANIO_APROBACION"
              [(ngModel)]="ppro_ANIO_APROBACION" pattern="[0-9]{4}" title="El año debe tener 4 dígitos numéricos"
              (keypress)="onKeyPressAnioAprorbacion($event)" required (keyup)="onYearChangeAnioAporbacion()">
            <div
              *ngIf="form1.controls['ppro_ANIO_APROBACION'].hasError('required') && (form1.controls['ppro_ANIO_APROBACION'].dirty || form1.controls['ppro_ANIO_APROBACION'].touched)">
              <div
                *ngIf="form1.controls['ppro_ANIO_APROBACION'].errors && form1.controls['ppro_ANIO_APROBACION'].errors['required']"
                style="color: red;">El año de aprobación es requerido.</div>
            </div>
            <div
              *ngIf="form1.controls['ppro_ANIO_APROBACION'].hasError('pattern') && (form1.controls['ppro_ANIO_APROBACION'].dirty || form1.controls['ppro_ANIO_APROBACION'].touched)">
              <div
                *ngIf="form1.controls['ppro_ANIO_APROBACION'].errors && form1.controls['ppro_ANIO_APROBACION'].errors['pattern']"
                style="color: red;">El año de aprobación debe tener 4 dígitos numéricos.</div>
            </div>
          </div>


          <div class="form-group">
            <label for="AÑO DE CALIFICACION DE EJECUCION">Año de Calificación de Ejecución:</label>
            <input type="text" class="form-control" placeholder="Año de Calificación de Ejecución"
              name="ppro_ANIO_CALIFICACION_EJECU" [(ngModel)]="ppro_ANIO_CALIFICACION_EJECU" pattern="[0-9]{4}"
              title="El año debe tener 4 dígitos numéricos" (keypress)="onKeyPressAnioCalificacion($event)" required
              (keyup)="onYearChangeAnioCalficacion()">
            <div
              *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].hasError('required') && (form1.controls['ppro_ANIO_CALIFICACION_EJECU'].dirty || form1.controls['ppro_ANIO_CALIFICACION_EJECU'].touched)">
              <div
                *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors && form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors['required']"
                style="color: red;">El año de calificación de ejecución es requerido.</div>
            </div>
            <div
              *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].hasError('pattern') && (form1.controls['ppro_ANIO_CALIFICACION_EJECU'].dirty || form1.controls['ppro_ANIO_CALIFICACION_EJECU'].touched)">
              <div
                *ngIf="form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors && form1.controls['ppro_ANIO_CALIFICACION_EJECU'].errors['pattern']"
                style="color: red;">El año de calificación de ejecución debe tener 4 dígitos numéricos.</div>
            </div>
          </div>


      



          <!-- Sección 3: Selecciones adicionales -->
          <div class="form-group">
            <br>
            <label for="procesoCorporativoUn">Proceso Corporativo Un. (S/N): </label>
            <select class="form-control" name="procesoCorporativoUn" [(ngModel)]="ppro_PROCESO_CORPORATIVO_UN" required>
              <option value="S">SI</option>
              <option value="N">NO</option>
            </select>
          </div>
          <div class="form-group">
            <br>
            <label for="ppro_PROYECTO_ARRASTRE">Proyecto de Arrastres (S/N):</label>
            <select class="form-control" name="ppro_PROYECTO_ARRASTRE" [(ngModel)]="ppro_PROYECTO_ARRASTRE" required>
              <option value="S">SI</option>
              <option value="N">NO</option>
            </select>
          </div>

          <div class="form-group">
            <label for="ppro_PROY_CALI_ESTUDIO_COSTOS">Proyecto Calificado en Estudios de Costos (S/N):</label>
            <select class="form-control" name="ppro_PROY_CALI_ESTUDIO_COSTOS"
              [(ngModel)]="ppro_PROY_CALI_ESTUDIO_COSTOS" required>
              <option value="S">SI</option>
              <option value="N">NO</option>>
            </select>
          </div>

          <!-- Sección 4: Área de texto adicional y campos de número -->
          <div class="form-group">
            <label for="objetivoProyecto">Objetivo del Proyecto:</label>
            <textarea name="objetivoProyecto" placeholder="Objetivo del Proyecto" name="objetivoProyecto" cols="30"
              rows="5" [(ngModel)]="ppro_OBJETIVO_PRO" required></textarea>
          </div>


          <div class="form-group">
            <label for="ppro_OBSERVACIONES_JUSTIFICACI">Observacion del Proyecto:</label>
            <textarea name="message" placeholder="Observaciones del Proyecto" cols="30" rows="5"
              [(ngModel)]="ppro_OBSERVACIONES_JUSTIFICACI" required></textarea>
          </div>

          <!-- Sección 5: campos de número -->
          <div class="form-group">
            <label for="montoAprobado">Monto Aprobado en Estudios de Costos:</label>
            <input matInput type="number" placeholder="Monto Aprobado en Estudios de Costos" class="form-control" name="montoAprobado"
              [(ngModel)]="ppro_MONTO_APRO_ESTUDI_COSTOS" required>
          </div>



          <div class="submit-container">
            <div class="submit">
              <input type="submit" value="Crear Proyecto" id="form_button" [disabled]="!form1.valid"
                class="btn btn-primary" />
            </div>

          </div>

        </form>

      </div>
    </div>
  </div>




</body>